---
// Main landing page
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import About from "../components/About.astro";
import Vision from "../components/Vision.astro";
import Gallery from "../components/Gallery.astro";
import Contact from "../components/Contact.astro";

// Import Facebook content data
import facebookData from "../data/facebook-content.json";

const posts = facebookData.posts || [];
---

<Layout>
  <main>
    <Hero />
    <Stats />
    <About />
    <Vision />
    <Gallery posts={posts} />
    <Contact />
  </main>
</Layout>
